<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>.</title>
    <!--
    <link rel="stylesheet" type="text/css" href="%FIXME%" />
    <script type="text/javascript" src="%FIXME%"></script>
    -->
    <style type="text/css">
    #main { margin: 0 auto; max-width: 320px; }
    #main a { font-size: smaller; color: #bbb; }
    #main a:hover { color: #444; }
    input[type="text"], textarea { width: 300px; }
    textarea { height: 100px; }
    </style>
  </head>
  <body>
    <div id="main">
      <a href="javascript:function jqrp1(){window.location.href='[@root_address]insert.php?post='+encodeURIComponent(document.location.href)+'&t='+(new Date().getTime())}jqrp1();void(0)">bkmrklt</a>
    </div>
  </body>
</html>

