<!DOCTYPE HTML>
<html>
  <head>
    <title>FAIL</title>
    <style type="text/css" media="screen">
      .failure {
        background-color: #ffbbbb;
        padding: 20px;
        margin: 20px 200px;
        text-align: center;
        font-size: 2em;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
      }
      .errormsg {
        background-color: #ffbbbb;
        padding: 20px;
        text-align: center;
        font-size: 1em;
      }
      .date { font-size: .5em; }
    </style>
  </head>
  <body>
    <p class="failure">
      <span class="date">[@currdate]</span>
      <br />
      Data append <strong>failed</strong>:
    </p>
    <p class="errormsg">
      [@errormsg]
    </p>
  </body>
</html>
